@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//:fullscreen {
//  background-image: url('http://laurenandblakewedding.com/assets/images/bg2.jpg') no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}
//
//:full-screen {
//  background-image: url('http://laurenandblakewedding.com/assets/images/bg2.jpg') no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}
//
//:-webkit-full-screen {
//  background-image: url('http://laurenandblakewedding.com/assets/images/bg2.jpg') no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}
//

@font-face {
  font-family: ever-after;
  src: url('/fonts/everafte-webfont.woff');
}

@font-face {
  font-family: janda;
  src: url('/fonts/jandastylishscript-webfont.woff');
}

:-moz-full-screen body {
  background: url('http://laurenandblakewedding.com/assets/images/bg2.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:-moz-full-screen .logo {
  margin-top: 75px;
}

:-webkit-full-screen body {
  background: url('http://laurenandblakewedding.com/assets/images/bg2.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:-webkit-full-screen .logo {
  margin-top: 100px;
}

:full-screen body {
  background: url('http://laurenandblakewedding.com/assets/images/bg2.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:fullscreen body {
  background: url('http://laurenandblakewedding.com/assets/images/bg2.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row {
  max-width: 1550px !important;
}

.app {
  margin-top: 40px;
}

.stream {
  .image {
    padding:30px;
  }

  .slick-slide {
    img {
      border:5px solid #FFF;
      display:block;
      width:100%;
    }
  }
}

.logo {
  margin-top: 40px;

  .who {
    font-family: janda;
    font-size: 64px;
    color: rgb(244,231,225);
    text-align: center;
  }

  .when {
    font-family: ever-after;
    font-size: 64px;
    text-align: center;
    color: rgb(244,231,225);
  }
}
